.list {
  list-style: none;
  font-size: 20px;

  font-size: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-bottom: 20px;
}